<?xml version="1.0" encoding="utf-8" ?>
<!--Pour trouver le fichier, il faut noter propr et prendre fichier de configuration des proprietées -->
<configuration>
	<connectionStrings>
		<add
			name="ProjetDB"
			connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Project;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			providerName="Sql.Data.SqlClient"/>
	</connectionStrings>
</configuration>